<div id="DivPagina">
  <ion-app>
    <ion-router-outlet></ion-router-outlet>
  </ion-app>
  
</div>

<div id="DivLogin" class="estiloBloqueo">
  <div style="padding: 20px 20px 20px 20px ;text-align: center;">
    <img src="../../assets/login.png" alt="">
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input id="txt-login-username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input id="txt-login-password" type="password"></ion-input>
    </ion-item>
    <label id="lbl_error"   style="color:#dc3545;display: none;font-size: 80%;" ></label>
    <ion-button  color="dark" expand="full" (click)="onClickLogin()">INICIAR</ion-button>
  </div>


</div>