<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Pedidos
    </ion-title>
    <ion-buttons slot="end">
      <a href="" (click)="Salir()">
        <ion-button class="notification" autoHide="false">
          <ion-icon size="large" name="exit"></ion-icon>

        </ion-button>
      </a>


    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-card>
    <ion-item>

      <ion-label>Datos Cliente</ion-label>
      <ion-button fill="outline" slot="end" color="dark" (click)="selCliente()">
        Seleccionar
      </ion-button>
    </ion-item>

    <ion-card-content>

      <ion-item>
        <ion-label position="fixed">Cedula:</ion-label>
        <ion-input readonly="true" id="txtCedula"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Nombres:</ion-label>
        <ion-input readonly="true" id="txtNombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Direccion:</ion-label>
        <ion-input readonly="true" id="txtDireccion"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Telefono:</ion-label>
        <ion-input readonly="true" id="txtTelefono"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>




  <ion-card>
   

    <ion-card-content>
      <ion-item>
        <ion-label>Mesa</ion-label>
        <ion-select okText="OK" value="" cancelText="Cancelar" id="selMesa" (ionChange)="MesaSelected()">
          <ion-select-option value="{{mesa.Codigo}}" *ngFor="let mesa of listaMesas">{{mesa.Ubicacion}}-{{mesa.Tamanio}}
          </ion-select-option>
  
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Plato:</ion-label>
        <ion-input id="txtNomProducto" type="text" readonly="true"></ion-input>
        <ion-button fill="outline" slot="end" color="dark" (click)="ListaProductos()">
          Producto
         </ion-button>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Cantidad</ion-label>
        <ion-input id="txtCantidad" type="number" value="1"></ion-input>
        <ion-button fill="outline" slot="end" color="dark" (click)="AnadirALIsta()">
          Añadir
         </ion-button>
      </ion-item>
      
     

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>

      <table style="width: 100%;">

        <tr style="width: 100%;">
          <td style="width: 30%;">
            Plato
          </td>
          <td style="width: 15%;">
            Cant.
          </td>
          <td style="width: 15%;">
            Prec.
          </td>
          <td style="width: 15%;">
            Sub.T
          </td>
          <td style="width: 15%;">
            
          </td>
        </tr>
      </table>


    </ion-item>

    <ion-card-content>

      <table style="width: 100%;">

        <tr style="width: 100%;" *ngFor="let profa of ListaProductosFactura">
          <td style="width: 40%;"> 
            {{profa.Nombre}}
          </td>
          <td style="width: 15%;">
            {{profa.Cantidad}}
          </td>
          <td style="width: 15%;">
            {{profa.Precio}}
          </td>
          <td style="width: 15%;">
            {{profa.SubTotal}}
          </td>
          <td>
            
              <ion-icon size="large" name="trash" color="dark" (click)="EliminarLista(profa)"></ion-icon>
           
          </td>
          
          
        </tr>
      </table>

      <ion-item slot="end">
        <ion-label position="fixed">Total</ion-label>
        <ion-input id="txtTotal" type="text"  readonly="true">{{total}}</ion-input>
      </ion-item>

      <ion-button  color="primary" expand="full" (click)="GuardarFactura()">Realizar Pedido</ion-button>

    </ion-card-content>
  </ion-card>

</ion-content>